body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  text-align: center;
  color: rgb(161, 161, 7);
}

.rebus-container,
.yes-or-no-container,
.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rebus,
.question {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

input,
button {
  margin: 5px;
}

.yes-or-no,
.div1,
.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.question {
  text-align: center;
  margin-bottom: 20px;
}